upstream backend {
    server {{ server_hostname }}:8080;
}
server {
  listen {{ nginx_port }};
  server_name trainlab.local localhost; #add your domain

  root /var/tools/public;

location / {
  proxy_pass http://{{ server_hostname }}:{{ node_port }};
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header Host $host;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  # Following is necessary for Websocket support
  proxy_http_version 1.1;
  proxy_set_header Upgrade $http_upgrade;
  proxy_set_header Connection "upgrade";
 }
}